/bin/platform/ext/advancedsavedquery/
/bin/platform/ext/catalog/
/bin/platform/ext/comments/
/bin/platform/ext/commons/
/bin/platform/ext/core/
/bin/platform/ext/deliveryzone/
/bin/platform/ext/europe1/
/bin/platform/ext/hac/
/bin/platform/ext/impex/
/bin/platform/ext/maintenanceweb/
/bin/platform/ext/mediaweb/
/bin/platform/ext/oauth2/
/bin/platform/ext/paymentstandard/
/bin/platform/
/bin/platform/ext/platformservices/
/bin/platform/ext/processing/
/bin/platform/ext/scripting/
/bin/platform/ext/testweb/
/bin/platform/ext/validation/
/bin/platform/ext/workflow/
